<footer id="rlds-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5>Rosslynne Lynch Dance Studio</h5>
        <ul>
          <li><a href="#">2018 Registration</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#" class="active">Timetable</a></li>
          <li><a href="#">Fees</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>Contact Us</h5>
        <ul>
          <li><a href="mailto:contact@rldancestudio.co.za"><i class="fa fa-envelope" aria-hidden="true"></i> contact@rldancestudio.co.za</a></li>
          <li><a href="tel:+27822981697"><i class="fa fa-phone" aria-hidden="true"></i> 082 298 1697</a></li>
        </ul>
        <div class="social-media">
          <a href="https://www.facebook.com/rldancestudio"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/rosslynne_lynch_dance_studio"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-sm-4">
        <iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8523.743059281613!2d27.775652115143586!3d-26.07303723157894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e959a2acc32d531%3A0x353ada3dff0e4fd1!2sRosslynne+Lynch+Dance+Studio!5e0!3m2!1sen!2sza!4v1512376920250" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© {{ year }} - Rosslynne Lynch Dance Studio</p>
  </div>
</footer>