@import "../../styles";

.time {
  color: $purple;
  font-family: $font-pt-sans-caption;
}

.description {
  @extend .text-muted;
  
  font-style: italic;
}

table.timetable {
  display: table;
  table-layout: fixed;

  th {
    @extend .text-center, .text-uppercase;

    font-family: $font-pt-sans-caption;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
  }

  td {
    text-align: center;
  }

  .time {
    @extend .time;
    display: block;
  }

  .item {
    display: block;
    font-weight: bold;
  }
  
}