
<a href="#" class="btn btn-primary"><i class="fas fa-download"></i> Get Timetable</a>

<div class="d-none d-md-block">
  <h3>Timetable - Term 1 2018</h3>
  <h5><small class="text-muted">17 Jan - 28 Mar</small></h5>
  <table class="table timetable">
    <thead>
      <tr>
        <th class="text-center">Mon</th>
        <th class="text-center">Tues</th>
        <th class="text-center">Wed</th>
        <th class="text-center">Thurs</th>
        <th class="text-center">Fri</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="time">13:30 - 14:00</span>
          <span class="item">Tots Ballet</span>
          <span class="description">3-4 years</span>
        </td>
        <td>
          <span class="time">14:30 - 15:00</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">13:30 - 14:00</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">14:15 - 14:45</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">14:45 - 15:15</span>
          <span class="item">Private Lesson</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="time">14:00 - 14:30</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">15:00 - 15:30</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">14:00 - 14:30</span>
          <span class="item">Primary</span>
          <span class="description">5-6 years</span>
        </td>
        <td>
          <span class="time">14:45 - 15:30</span>
          <span class="item">Grade 3</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">15:15 - 16:00</span>
          <span class="item">Pointe Work</span>
          <span class="description">description</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="time">14:30 - 15:00</span>
          <span class="item">Primary</span>
          <span class="description">5-6 years</span>
        </td>
        <td>
          <span class="time">15:30 - 16:30</span>
          <span class="item">Grade 4</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">14:30 - 15:00</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">15:30 - 16:15</span>
          <span class="item">Body Conditioning</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">16:00 - 16:30</span>
          <span class="item">Private Lesson</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="time">15:00 - 15:30</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">16:30 - 17:00</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">15:00 - 15:30</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">16:15 - 17:15</span>
          <span class="item">Grade 4</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">16:30 - 17:30</span>
          <span class="item">Advanced 1</span>
          <span class="description">description</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="time">15:30 - 16:15</span>
          <span class="item">Grade 1</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">17:00 - 17:30</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">15:30 - 16:15</span>
          <span class="item">Grade 1</span>
          <span class="description">description</span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <span class="time">16:15 - 16:45</span>
          <span class="item">Private Lesson</span>
        </td>
        <td>
          <span class="time">17:30 - 18:30</span>
          <span class="item">Intermediate Foundation</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">16:15 - 16:45</span>
          <span class="item">Private Lesson</span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <span class="time">16:45 - 17:30</span>
          <span class="item">Grade 2</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">18:30 - 19:30</span>
          <span class="item">Advanced 1</span>
          <span class="description">description</span>
        </td>
        <td>
          <span class="time">16:45 - 17:30</span>
          <span class="item">Grade 2</span>
          <span class="description">description</span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <span class="time">17:30 - 18:30</span>
          <span class="item">Intermediate Foundation</span>
          <span class="description">description</span>
        </td>
        <td></td>
        <td>
          <span class="time">17:30 - 18:15</span>
          <span class="item">Grade 3</span>
          <span class="description">description</span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <span class="time">18:30 - 19:15</span>
          <span class="item">Advanced 1</span>
          <span class="description">description</span>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <ul>
    <li>Body conditioning is <strong>compulsory</strong> for Grade 3 and up. Bring all equipment to every lesson. <i>See <a href="#">Fee Structure</a>.</i></li>
    <li>Body conditioning is open to parents and outside students at R90 per lesson.</li>
    <li>STUDENTS THAT ATTEND LESSONS ONCE A WEEK ARE NOT ELIGIBLE FOR EXAMS!</li>
    <li>Saturdays are reserved for extra and emergency lessons for exams and competitions.</li>
  </ul>
</div>

<div class="d-md-none">
  <div class="mb-2">
    <ul class="nav nav-pills nav-justified">
      <li *ngFor="let mobileNavItem of mobileNav" class="nav-item">
        <a [routerLink]="['/', 'timetable']" [fragment]="mobileNavItem.name" class="nav-link" [class.active]="isMobileActive(mobileNavItem.name)">{{ mobileNavItem.description }}</a>
      </li>
    </ul>
  </div>
  
  <div class="list-group">
    <div *ngFor="let currentItem of currentMobile" class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ currentItem.item }}</h5>
        <span class="time">{{ currentItem.time }}</span>
      </div>
      <p class="mb-1 description">{{ currentItem.description }}</p>
    </div>
  </div>  
</div>