/* You can add global styles to this file, and also import other style files */

@import "font-pt-sans";

$font-family-sans-serif: $font-pt-sans;

$purple: #673AB7;

$theme-colors: (
  primary: $purple
);

@import "../node_modules/bootstrap/scss/bootstrap";
